.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background-color: var(--fondo-a);
  padding-bottom: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: var(--letra-a);
  font-size: 48px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.underline {
  width: 61px;
  height: 6px;
  background: var(--letra-a);
  border-radius: 8px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 500px;
  height: 90px;
  background: var(--letra-a);
  border-radius: 8px;
}
.input input {
  height: 50px;
  width: 500px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--fondo-v);
  font-size: 19px;
}
.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: var(--fondo-v);
  font-size: 18px;
}
.forgot-password span {
  color: var(--letra-v);
  cursor: pointer;
}
.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  color: var(--letra-a);
  background: transparent;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.pink {
  color: var(--letra-v);
  background: var(--fondo-v);
}
