
section {
  display: flex;
  position: absolute;
  left: 11.2137%;
  right: 6.2005%;
  top: 193px;
  height: min-content;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 32px;
  background: var(--fondo-a);
  color: var(--letra-a);
}

h2 {
  color: var(--letra-a);
  font-size: 90px;
  font-weight: bold;
  font-family: Bellota, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  width: 624px;
  height: min-content;
  flex-direction: column;
}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--fondo-a);
  color: var(--letra-a);
  border-top: 8px;
  width: 100%;
  border-radius: 8px;
  padding: 70px;
}

.Formulario input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid var(--letra-a);
  border-radius: 8px;
  background-color: var(--fondo-a);
  color: var(--letra-a);
}

.Formulario button {
  padding: 10px 20px;
  background-color: var(--fondo-a);
  color: var(--letra-a);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.Formulario button:hover {
  background-color: var(--letra-v);
}

.rounded {
  border-radius: 7px;
  width: 100%;
  align-content: center;
  text-align: center;
  justify-content: center;
}
