:root {
  --fondo-f: linear-gradient(#eed9c1, #ebb690);
  --fondo-a: #6a5944;
  --letra-a: #eed9c1;
  --fondo-v: #9aca9f;
  --letra-v: #1f561d;
}

ul {
  box-sizing: border-box;
  /* border: 1px solid black;
  box-shadow: 0px 0px 5px 1px black; */
  justify-content: left;
  text-align: left;
  width: 180px;
  height: 80px;
  gap: 10px;
  border-radius: 7px;
  background-color: var(--fondo-a);
  color: var(--letra-a);
}
