.rounded {
  border-radius: 7px;
  overflow: hidden;
}

.footer {
  text-align: left;
  background-color: var(--fondo-a);
  box-sizing: border-box;
  width: 100%;
  color: var(--letra-a);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
