:root {
  --fondo-f: linear-gradient(#eed9c1, #ebb690);
  --fondo-a: #6a5944;
  --letra-a: #eed9c1;
  --fondo-v: #9aca9f;
  --letra-v: #1f561d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  min-height: 100%;
  background: var(--fondo-f);
  background-repeat: no-repeat;
}
